build
*.code-workspace
.vscode
.gradle
*.pyc
src/generated-sources
dependency-reduced-pom.xml
*.log
.idea
*.iml
target
node_modules
.yo-rc.json
swagger.json
effective-pom.xml
.DS_Store
*.p12
*.cer
*.pem
*.crt
*.key
package-lock.json
yarn.lock
.ijwb
coverage
typings
maven
.history
test/e2e/screenshots
out/
.cache
dist
